---
const questions = [
  {
    question: "Who is eligible to apply?",
    answer:'Everyone is welcome to apply, but you need to qualified with the roles provided.'
  },
  {
    question: "What can I do to get benefits?",
    answer:'The benefits you can get is depends on your rank. It can be $DEV, get along with our partners project, and builders swag.'
  },
  {
    question: "What are the roles?",
    answer:'We have provided three roles for Developer, Marketing, and Content Writer.'
  },
  {
    question: "How much time do I need to commit?",
    answer:'The program is flexible, it\'s up in your free time but the more you invest your time in Dev Protocol, the more opportunity you can get.'
  },
  {
    question: "When the applications open?",
    answer:'Application to the program is open from December 20th to January 20th. The application remains open for a month and you can apply once every application cycle opens.'
  },

]
---
<section class="p-lg my-lg medium:-mt-md">
  <div class="w-auto items-center flex flex-col space-y-sm text-center medium:text-left">
    <div class="grid grid-cols-2 gap-lg">
      <div class="col-span-2 medium:col-span-1 mx-8 sm:mx-16 space-y-sm">
          <h4 class="font-bold font-title text-title leading-relaxed">Frequently asked questions</h4>
          <p>Can’t find the answer you’re looking for? Reach out to our <a href="https://discord.gg/VwJp4KM" class="hs-link">support</a> team.</p>
      </div>
      <div class="col-span-2 medium:col-span-1 space-y-lg flex flex-col mx-8 sm:mx-16 pt-4">
          {questions.map(item=>(
              <div class="space-y-xs">
                  <h4 class="font-bold font-subtitle text-subtitle">{item.question}</h4>
                  <p>{item.answer}</p>
              </div>
          ))}
      </div>
    </div>
  </div>
</section>
