---
import HSButton from '../Global/HSButton.vue'
---

<section
  class="
    py-lg
    pb-xl
    bg-primary-600
    text-primary-ink
    text-center
    m-auto
  "
>
  <div id="hero-wrap">
    <div class="w-auto items-center">
      <img
        src="/assets/badge_v2/dev_com_badge_logo.png"
        alt=""
        class="w-auto"
        width="300"
        height="300"
      />
    </div>
    <div class="flex flex-col text-center items-center justify-center">
      <h4 class="text-subtitle font-subtitle leading-condensed font-bold mt-md">Dev Protocol's</h4>
      <h2 class="text-supertitle font-title leading-condensed font-black">Com&shy;munity Builders</h3>
      <p class="max-w-prose my-sm text-center">
        Community Builders are specialized groups who are eager to help the Dev Protocol ecosystem to grow, lead their community, and develop content that will help anyone to get started in blockchain, web3, and dev protocol technology.
      </p>
      <HSButton type="filled raised" link="https://forms.gle/xHbFrLC5CuCMyYcG7">
          Become a Community Builder
      </HSButton>
    </div>
  </div>
</section>
