<section
  class="
    mt-32
    flex flex-col
    items-center
    justify-center
    min-h-screen
    text-center text-lg
    lg:text-left
    m-auto
  "
>
  <div class="w-auto items-center ">
    <img
      src="/assets/badge_v2/dev_com_badge_logo.png"
      alt=""
      class="max-h-64 w-auto"
      width="900"
      height="900"
    />
  </div>
  <div class="mx-12 p-4 flex flex-col text-center items-center justify-center">
    <h3 class="font-black font-display text-5xl lg:text-6xl mt-4">
      Dev Protocol<br/>Community Builders
    </h3>
    <p class="max-w-prose my-6 text-center">
      Community Builders are specialized groups who are eager to help the Dev Protocol ecosystem to grow, lead their community, and develop content that will help anyone to get started in blockchain, web3, and dev protocol technology.
    </p>
    <a href="https://stakes.social/create" class="mt-4 mx-auto">
      <button class="bg-lightPink text-white py-2 px-6 rounded">
        Become a Community Builder
      </button>
    </a>
  </div>
</section>
