---
const cards = [
  {
    title: 'LEARN & COLLABORATE',
    image: "/assets/badge_v2/dev_com_badge_logo.png",
    body: 'Learn about Web3 and blockchain technology while contributing to the development of the creator ecosystem with the members of the Dev.',
    darkModeInvertColor: true
  },
  {
    title: 'LEAD & ORGANIZE',
    image: "/assets/badge_v2/dev_com_badge_logo.png",
    body:'Lead and Organize your event or create contents that will be useful to expand the Dev Protocol community.',
    darkModeInvertColor: true
  },
  {
    title: 'EARN SWAG & DEV TOKENS',
    image: "/assets/badge_v2/dev_com_badge_logo.png",
    body: 'You will be awarded based on your contributions. The more you contribute, the higher the opportunity you will be awarded.',

    darkModeInvertColor: true
  },
]
---

<section class="p-lg my-lg">
  <h3 class="font-bold font-title text-title text-center">Why should you join?</h3>
  <div class="grid grid-cols-3 gap-lg flex-wrap justify-evenly py-lg">
    {cards.map(card => (
      <div class="space-y-sm col-span-3 medium:col-span-1 flex flex-col content-between text-center">
        <div class="flex flex-row justify-center">
          <img alt="community-builders" src={card.image} class={`w-[100px] mx-auto my-0 h-auto filter mb-sm`} />
        </div>
        <h3 class="font-bold font-subtitle text-subtitle">{card.title}</h3>
        <p>{card.body}</p>
      </div>
    ))}
  </div>
</section>
