---
import Footer from '@components/Global/Footer.astro'
import Hero from '@components/CommunityBuilders/Hero.astro'
import Header from '../components/Global/Header.vue'
let { metaTitle } = Astro.props;
---

<html lang="en" >

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{metaTitle}</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link
  rel="stylesheet"
  href={Astro.resolve("../styles/main.scss")}
  >
  <meta name="description" content="Community Builders are specialized groups who are eager to help the Dev Protocol ecosystem to grow, lead their community, and develop content that will help anyone to get started in blockchain, web3, and dev protocol technology." />
  <meta property="og:title" content={metaTitle} />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://builders.devprotocol.xyz/" />
  <meta property="og:image" content="/assets/og.png" />
  <meta property="og:description" content="Community Builders are specialized groups who are eager to help the Dev Protocol ecosystem to grow, lead their community, and develop content that will help anyone to get started in blockchain, web3, and dev protocol technology." />
</head>

<body class="font-body dark:bg-surface-700 dark:text-white">
  <Header client:visible></Header>
  <Hero></Hero>
  <main class="content-wrap medium:grid medium:grid-flow-row gap-y-xl large:gap-y-xl">
    <slot />
  </main>
  <Footer></Footer>
</body>

</html>
