<footer
  class="bg-primary-600 text-primary-ink large:px-lg large:py-xl px-md py-lg grid grid-cols-12"
>
  <div class="flex flex-col large:col-span-6 col-span-full large:mx-none mx-auto">
    <div>
      <img src="/assets/devlogo.svg" alt="" class="w-28" />
    </div>
    <div class="mt-sm flex flex-col">
      <p
        class="
          font-mono
          text-gray-300
          text-opacity-70
          small:w-96
          font-mono
          text-body
          tracking-normal
          leading-2
        "
      >
        Dev Protocol is the core of the Decentralized Creator Economy,
        completely on-chain, 100% composable middleware protocol.
      </p>
      <div class="flex gap-md mt-sm">
        <a href="https://twitter.com/devprtcl" title="Follow us on Twitter">
          <img src="/assets/twitter.svg" alt="twitter_logo">
        </a>
        <a href="https://medium.com/devprtcl" title="Follow us on Medium">
          <img src="/assets/medium.svg" alt="medium_logo">
        </a>
      </div>
      <a
        class="mt-sm text-mono hs-link w-max"
        href="https://github.com/dev-protocol/community/blob/main/CODE_OF_CONDUCT.md"
        >Code of Conduct</a
      >
    </div>
  </div>

  <div
    class="
      large:col-span-6
      flex flex-row
      font-mono
      justify-between
      flex-wrap
      items-start
      col-span-full
      mt-md
      large:mt-none
      font-semibold
    "
  >
    <ul class="leading-broad mx-sm">
      <li>
        <ul>
          Products
        </ul>
      </li>
      <li>
        <a
          target="_blank"
          class="hs-link"
          href="https://stakes.social/"
          >Stakes.social</a
        >
      </li>
      <li>
        <a
          target="_blank"
          class="hs-link"
          href="https://github.com/dev-protocol/khaos"
          >Khaos Oracle</a
        >
      </li>
      <li>
        <a
          target="_blank"
          class="hs-link"
          href="https://github.com/dev-protocol/dev-kit-js"
          >Dev Kit</a
        >
      </li>
    </ul>
    <ul class="leading-broad mx-sm">
      <li>
        <ul>
          Support
        </ul>
      </li>
      <li>
        <a
          target="_blank"
          class="hs-link"
          href="https://initto.devprotocol.xyz/"
          >Tutorials</a
        >
      </li>
      <li>
        <a
          target="_blank"
          class="hs-link"
          href="https://docs.devprotocol.xyz/"
          >Documentation</a
        >
      </li>
      <li>
        <a
          target="_blank"
          class="hs-link"
          href="https://discord.gg/VwJp4KM"
          >Discord</a
        >
      </li>
      <li>
        <a
          target="_blank"
          class="hs-link"
          href="https://community.devprotocol.xyz/"
          >Forum</a
        >
      </li>
    </ul>
    <ul class="leading-broad mx-sm">
      <li>
        <ul>
          Protocol
        </ul>
      </li>
      <li>
        <a
          target="_blank"
          class="hs-link"
          href="https://govern.devprotocol.xyz/"
          >Govern</a
        >
      </li>
      <li>
        <a
          target="_blank"
          class="hs-link"
          href="https://github.com/dev-protocol"
          >GitHub</a
        >
      </li>
      <li>
        <a
          target="_blank"
          class="hs-link"
          href="https://github.com/dev-protocol/DIPs"
          >Proposals</a
        >
      </li>
    </ul>
  </div>
</footer>
